body {
    margin: 0;
    overflow: auto;
    background-color: #F4F7F8;
}

#menu {
    font-size: 50px;
    cursor: pointer;
    color: #1BB39C;
    position: fixed;
}

.sm-wrapper {
    margin-top: 100px;
}

.side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1BB39C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Jura', monospace;
    color: #FFFFFF;
    display: block;
    letter-spacing: 5px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.side .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 95px;
    margin-left: 50px;
}

.sm-wrapper a:after {
    z-index: -1;
    position: absolute;
    left: 0%;
    width: 0;
    height: 50px;
    background: #5B5B5B;
    content: '';
    transition: width 0.35s ease-in-out;
}

.sm-wrapper a:hover:after {
    width: 10%;
}

.sm-wrapper a:hover {
    padding-left: 64px;
    transition: 0.35s ease-in-out;
}

#pg-content {
    transition: margin-left 0.5s;
    padding: 16px;
    width: 100%;
    position: absolute;
}

h1 {
    font-family: "Jura", monospace;
    font-size: 5em;
    text-align: center;
    letter-spacing: 20px;
    padding: 0px 0px 10px 25px;
    margin-bottom: 0;
    color: #5B5B5B;
}

h2 {
    font-family: "Jura", monospace;
    font-size: 3em;
    text-align: center;
    letter-spacing: 20px;
    color: #5B5B5B;
    margin-top: 0px;
    margin-bottom: 10px;
}

.lastName {
    letter-spacing: 10px;
    padding-left: 44px;
    color: #1BB39C;
}

.headings {
    color: #1BB39C;
    letter-spacing: 5px;
    text-align: center;
}

.mypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    height: 350px;
    width: 275px;
    border-radius: 5%;
    border-color: #1BB39C;
    border-style: solid;
    border-width: 2px;
}

.icons {
    font-size: 5em;
    color: #1BB39C;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#socialIcons {
    text-align: center;
} 

#contactForm {
    margin-left: auto;
    margin-right: auto;
    background-color: #1BB39C;
    padding: 10px;
    margin-top: 100px;
    width: 500px;
    border: 3px solid lightgrey;
}

label {
        font-family: "Raleway", sans-serif;
        color: white;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 5px;    
}

input {
    display: block;
    margin-bottom: 10px;
    width: 450px;
    border-radius: 4px;
}

form p {
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}

.textArea {
    width: 400px;
    padding-top: 0px;
    align-self: center; 
}

button {
    display: block;
    margin: 0 auto;
    width: 473px;
    text-align: center;
    background-color: #5B5B5B;
    color: white;
    border-radius: 4px;
}

.runner {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #5B5B5B;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 3px solid #5B5B5B;
}

.container {
    position: relative;
}

.content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    position: absolute;
    color: #5B5B5B;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.statement {
    border-left: 3px solid #1BB39C;
    color: #1BB39C;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10px;
    background-color: #EDEDED;
}

blockquote {
    font-size: 1.3em;
    width: 60%;
    margin: 220px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #1BB39C;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color:#1BB39C;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    color: #5B5B5B;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.resume {
    font-style: "Jura", monospace;
    text-align: center;
    font-size: 4em;
    color: #1BB39C;
    letter-spacing: 5px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important
}

/* media queries */

@media only screen and (max-width: 600px) {
    .mypic {
        width: 150px;
        height: 200px;
        margin-top: 50px;
    }
    
    h1 {
        
        letter-spacing: 0px;
        font-size: 1.0em;
        text-align: center;
    }
    
    .lastName {
        text-align: center;
        padding-left: 7px;
        letter-spacing: 0px;
    }
    
    h2 {
        font-size: 2em;
        letter-spacing: 15px;
    }
    .icons {
        font-size: 4em;
     
    }
 
    .headings {
        margin-top: 20px;
    }

    .statement {
        margin-top: 20px;
    }

    blockquote {
        margin-top: 400px;
        font-size: 1.1em;
        width: 300px;
    }

    span {
      font-size: 1em;
    }

    .content {
        font-size: 1.2em;
    }

}

@media only screen and (max-width: 1000px) {
     blockquote {
         margin-top: 300px;
         font-size: 1.1em;
         width: 350px;
     }

       span {
           font-size: 1em;
       }

       .content {
           font-size: 1.1em;
       }


h1 {
    letter-spacing: 4px;
    font-size: 3.0em;
    
}

 h2 {
     font-size: 2.5em;
     letter-spacing: 12px;
 }
.lastName {
    letter-spacing: 4px;
    
}

.mypic {
    margin-top: 30px;
    height: 250px;
    width: 200px;
}


}

@media only screen and (max-width: 500px) {
    h1 {
        letter-spacing: 2px;
        font-size: 2.0em;
    }
    h2 {
        font-size: 1.8em;
        letter-spacing: 6px;
    }
    .lastName {
        letter-spacing: 2px;
    }
   
    .mypic {
        margin-top: 30px;
        height: 200px;
        width: 150px;
    }

    .icons {
        font-size: 3em;
    }
    
    blockquote {
        margin-top: 425px;
        font-size: 1.0em;
        padding-left: 33px;
        width: 300px;
    }
    
    .content {
        font-size: 1.1em;
    }
    
    .statement {
        font-size: 1.2em;
    }
}



