
body {
  background-color: #FEFEFA
}

html {
    box-sizing: border-box;
}
.navigation {
  position: relative;
}

.navigation a {
background-color: lightgrey;
margin-top: -20px;
float: left;
display: block;
padding: 10px;
color: #1BB39C
}

.navigation a:hover {
  color: black
}

.headings {
text-align: center;
color: #1BB39C;
font-family: Helvetica;
}

.subheadings {
  color: #1BB39C;
  font-family: Helvetica;
}

.content {
  font-family: Verdana;
}



.footer {
  background-color: lightgrey;

}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

div {
    padding: 5px 10px;
    margin: 20px;
}

div.subheadings {
  border: solid lightgrey 3px;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
}

div.headings {
border: 5px ridge grey;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:200px;width:250px;
}

.mypic {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height:350px;width:275px;
}

#contactform {
padding: 5px 10px;
margin: 20px;
margin-top: 100px;
}
