body,
html {
    height: 100%;
    margin: 0;
    font-size: 14px;
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.8em;
    background-color: #4b4b4b
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
}

.nav {
    margin-left: 100px;
    margin-top: 20px;
    width: 100%;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

a.nav-link {
    font-family: "Roboto";
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

a.linkHover {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
}

a.linkHover:hover {
    color: #CD8FEA
}

a.linkHover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #CD8FEA;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a.linkHover:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a.contact {
    color: #0D21BE;
}

p.intro {
    font-family: "Roboto";
    font-style: italic;
    line-height: 1.5;
}

p {
    font-family: "Roboto";
    line-height: 2.0;
}

.list {
    display: flex;
    flex-wrap: nowrap;
}

.additional {
    display: flex;
    height: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
}

h4 {
    align-self: center;
    font-size: 2.0rem;
}

.image,
.imageTwo,
.imageThree {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image {
    background-image: url("/Images/hero.jpg");
    min-height: 100%;
}

.imageTwo {
    background-image: url("/Images/pexels-photo-374914.jpeg");
    min-height: 600px;
}

.imageTwo::before,
.imageThree::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(51, 52, 210, 0.5);
}

.imageThree {
    background-image: url("/Images/garrhet-sampson-178990-unsplash.jpg");
    min-height: 600px;
}

.name {
    padding-top: 10%;
    font-family: "Raleway";
    font-size: 6em;
    text-align: left;
    max-width: 100%;
    color: whitesmoke;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    width: 200px;
    float: left;
    background-color: #0D21BE;
    border-color: #0D21BE;
}

.badge-primary {
    background-color: #0D21BE;
}

.badge {
    font-size: 90%;
    font-weight: 600;
}

h2 {
    font-family: "Roboto", monospace;
    font-size: 3em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 10px;
}

.headers {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Raleway";
    font-size: 3em;
}

.section {
    text-align: center;
    padding-top: 50px;
    font-family: "Raleway";
    font-size: 3em;
}

.icons {
    font-size: 3em;
    color: whitesmoke;
}

.skillIcons {
    font-size: 4em;
    text-align: center;
    color: #0D21BE;
}

#socialIcons {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

 .contactInfo {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid whitesmoke;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
.form-group:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

textarea {
    border: 2px solid whitesmoke;
    background: transparent;
    outline: none;
}
.copywrite {
    margin-bottom: -40px;
}
.toTop {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
}

.backToTop {
    font-size: 3em;
    color: whitesmoke;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important
}

/* media queries */

@media only screen and (max-width: 568px) {
    background-attachment: scroll;
    body {
        font-size: 10px;
    }
    h2 {
        font-size: 2em;
    }
    .name {
        font-size: 3em;
    }
    .icons {
        font-size: 2em;
    }
    .skillIcons {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    background-attachment: scroll;
    .name {
        font-size: 2em;
    }
}