
body {
  background-color: #fffff0
}

.headings {
text-align: center;
color: #1BB39C;
font-family: Helvetica;
}

.subheadings {
  color: #1BB39C;
  font-family: Helvetica;
}

.content {
  font-family: Verdana;

}
.navigation {

}
.footer {
  background-color: lightgrey;

}

.container {
  max-width: 1000px;
  margin: 0 auto;
}


html {
    box-sizing: border-box;
}

div {
    padding: 5px 10px;
    margin: 20px;
}

div.subheadings {
  border: solid lightgrey 3px;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;

}

div.headings {
border: 5px ridge grey;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:200px;width:250px;
}

.mypic {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height:350px;width:300px;

}
